@model IEnumerable<RecipeHelperApp.Models.Recipe>

@{
    ViewData["Title"] = "Search Results";
}

<h1>Filter Results</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 mb-4">
            <div class="card flex-md-row">
                <div class="card-body">

                    @if (!string.IsNullOrEmpty(item.Image))
                    {
                        <img src="@Url.Content(item.Image)" class="card-img-top" alt="Recipe Image">
                    }
                    else
                    {
                        <img src="~/img/login.jpg" class="card-img-top" alt="Recipe Image">
                    }

                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.MealType)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                        <a asp-action="Reset" asp-route-id="@item.Id" class="btn btn-danger">Reset</a>
                        <a asp-action="Generate" asp-route-id="@item.Id" class="btn btn-success">Generate</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
