@model IEnumerable<RecipeHelperApp.Models.Recipe>

@{
    ViewData["Title"] = "Index";
    string dayName = Model.FirstOrDefault()?.Day.WeekDay;
}

<h3 mb-0 text-gray-800>@dayName Menu</h3>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h3>@Html.DisplayFor(modelItem => item.MealType)</h3>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-5 d-flex align-items-center">
                        @if (!string.IsNullOrEmpty(item.Image))
                        {
                            <img src="@Url.Content(item.Image)" class="img-fluid h-100" alt="Recipe Image">
                        }
                        else
                        {
                            <img src="~/img/login.jpg" class="img-fluid h-100" alt="Recipe Image">
                        }
                    </div>
                    <div class="col-md-7">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div>
                                <h5 class="card-title mb-0">
                                    <i class="fas fa-utensils" style="font-size: 1.5rem;"></i> @Html.DisplayFor(modelItem => item.Name)
                                </h5>
                                <hr />
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                            </div>
                           
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm mr-2">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm mr-2">
                            <i class="fas fa-info-circle"></i> Details
                        </a>
                        <a asp-action="Reset" asp-route-id="@item.Id" class="btn btn-danger btn-sm mr-2">
                            <i class="fas fa-redo-alt"></i> Reset
                        </a>
                        <a asp-action="Generate" asp-route-id="@item.Id" class="btn btn-success btn-sm mr-2">
                            <i class="fas fa-bolt"></i> Generate
                        </a>
                        <a asp-controller="Days" asp-action="Index" asp-route-dayId="@item.Day.Id" class="btn btn-secondary btn-sm mr-2">
                            <i class="fas fa-calendar-week"></i> Back to Day
                        </a>
                    </div>
                </div>

            </div>


            
        </div>
    }
</div>
