@model RecipeHelperApp.Models.NutritionForm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NutritionForm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludeNutrition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludeNutrition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludeIngredients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludeIngredients)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExcludeIngredients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExcludeIngredients)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludedIngredients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludedIngredients)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExcludedIngredients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExcludedIngredients)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nutrients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nutrients)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Recalculate" asp-route-id="@Model?.Id">Recalculate</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
