@model IEnumerable<RecipeHelperApp.Models.NutritionForm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IncludeNutrition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncludeIngredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExcludeIngredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncludedIngredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExcludedIngredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nutrients)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IncludeNutrition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncludeIngredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExcludeIngredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncludedIngredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExcludedIngredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nutrients)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
