@model IEnumerable<RecipeHelperApp.Models.Week>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
   
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="~/theme/img/undraw_eating_together_re_ux62.svg" class="img-fluid" alt="Week Image" width="500" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Manage Weeks</h1>
            <p class="lead mb-4">Welcome to the "Manage Weeks" page! This is where you're in control of your weeks. Need to make changes? No problem! You can edit, delete, and read your existing weeks right from here. </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-primary btn-lg px-4 me-md-2"  asp-action="Create">Create Week</a>
                <a class="btn btn-outline-secondary btn-lg px-4" asp-controller="Home" asp-action="Index"> Back To Home </a>
                </div>
            </div>
        </div>

    <hr />

<div class="container mt-5">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="row">
                  
                        <div class="col-md-4">
                        <img src="~/img/login.jpg" class="img-fluid" alt="Recipe Image">
                        </div>

                        <div class="col-md-8">
                            <div class="card-body">
                    <h3 class="card-title">@Html.DisplayFor(modelItem => item.WeekName)</h3>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </div>
                        </div>
                    </div>
     
                </div>
            </div>
    }
</div>
</div>