@page
@model RegisterModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

@* <div class="row">
    <div class="col-md-4"> *@


 <style>
    .form-section {
        transition: opacity 0.5s, visibility 0.5s;
    }
</style>


<!-- Heading -->
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <!-- Start Section 1: Personal Information :: Login Info -->
    
    <div class="form-section" id="section1">
        <h4>Create a new account!</h4>
        <hr />
            <div class="form-floating mb-3">
        <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
               
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

    <div class="form-floating mb-3">
        <label asp-for="Input.BirthDate">Birth Date</label>
        <input type="date" asp-for="Input.BirthDate" class="form-control" autocomplete="off" />

        <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Input.Sex">Sex</label>
        <select asp-for="Input.Sex" class="form-control" aria-required="true">
            <option value="">Select Sex</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>

        <span asp-validation-for="Input.Sex" class="text-danger"></span>
    </div>
        <button type="button" class="btn btn-primary next-section">Next</button>
    </div>

    <!-- End Section 1: Personal Information : Login Info -->



    <!-- Section 2: Personal Information : About Your Goals -->

    <div class="form-section" id="section2" style="display:none;">
        <h>Great! What are your goals?</h>
        <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                <label asp-for="Input.Feet">Height (Feet)</label>
                        <input asp-for="Input.Feet" class="form-control" />
      
                        <span asp-validation-for="Input.Feet" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                <label asp-for="Input.Inches">Height (Inches)</label>
                        <input asp-for="Input.Inches" class="form-control" />
    
                        <span asp-validation-for="Input.Inches" class="text-danger"></span>
                    </div>
                </div>
            </div>


    <div class="form-floating mb-3">
        <label asp-for="Input.Weight">Weight (Lbs)</label>
                <input type="number" asp-for="Input.Weight" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.Weight" class="text-danger"></span>
            </div>

      
      
            <div class="form-floating mb-3">
        <label asp-for="Input.ActivityLevel">Activity Level</label>
                <select asp-for="Input.ActivityLevel" class="form-control" aria-required="true">
                    <option value="">Select Activity Level</option>
                    <option value="Sedentary">Sedentary</option>
                    <option value="Minimally Active">Minimally Active</option>
                    <option value="Moderately Active">Moderately Active</option>
                    <option value="Very Active">Very Active</option>
                    <option value="Extremely Active">Extremely Active</option>
                </select>
                <span asp-validation-for="Input.ActivityLevel" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
        <label asp-for="Input.FitnessGoal">Fitness Goal</label>
                <select id="fitnessGoal" asp-for="Input.FitnessGoal" class="form-control" aria-required="true">
                    <option value="">Select Fitness Goal</option>
                    <option value="Lose Weight">Lose Weight</option>
                    <option value="Maintain Weight">Maintain Weight</option>
                    <option value="Gain Weight">Gain Weight</option>
                </select>
                <span asp-validation-for="Input.FitnessGoal" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 weightFields">
        <label asp-for="Input.TargetWeight">Target Weight (lbs)</label>
                <input type="decimal" asp-for="Input.TargetWeight" class="form-control" autocomplete="off" />
             
                <span asp-validation-for="Input.TargetWeight" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 weightFields">
        <label asp-for="Input.TargetWeightDate">Target Weight Date</label>
                <input type="date" asp-for="Input.TargetWeightDate" class="form-control" autocomplete="off" />
               
                <span asp-validation-for="Input.TargetWeightDate" class="text-danger"></span>
            </div>


    <!-- Section 2: Personal Information : End About Your Goals -->


        <button type="button" class="btn btn-secondary prev-section">Previous</button>
        <hr />
        <button type="submit" class="w-100 btn btn-lg btn-success">Register</button>
        </div>
         </form>

         <br /> 
<a asp-page="./Login" class="d-block text-center">Already have an account? Signin! <i class="fas fa-sign-in-alt"></i> </a>


    @* </div> *

    <!-- Use this to configure external authentication services: -->


   @*  <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
 *@




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<!--
    IMPLEMENTATION TO BE COMPLETED AFTER THE ADDITION OF USER PREFERENCES & GENERATED DIETARY NEEDS:
    The weightFields will be hidden when mantain weight is selected and automatically assigned.
-->
<!--
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var weightFields = document.querySelectorAll('.weightFields');
        weightFields.forEach(function (field) {
            field.style.display = 'none';
        });
    });

    document.getElementById('fitnessGoal').addEventListener('change', function () {
        var weightFields = document.querySelectorAll('.weightFields');

        // Show weightFields if Gain Weight or Lose Weight is selected:
        if (this.value === 'Gain Weight' || this.value === 'Lose Weight') {
            weightFields.forEach(function (field) {
                field.style.display = 'block';
            });
        } else {
            // Hide weightFields for other options and set TargetWeight to current weight and TargetWeightDate to current date:
            weightFields.forEach(function (field) {
                field.style.display = 'none';
                var weightInput = document.getElementById('Input_Weight');
                document.getElementById('Input_TargetWeight').value = weightInput.value;

                // Set TargetWeightDate to the current date
                var currentDate = new Date().toISOString().split('T')[0];
                document.getElementById('Input_TargetWeightDate').value = currentDate;
            });
        }
    });
</script>
-->
